@font-face {
      font-family: "Courier Code";
      src: url("/lib/Courier%20Code/CourierCode-Roman.ttf");
}

@font-face {
      font-family: "Crickx";
      src: url("/lib/Crickx.ttf");
}

body {
    margin: 4em ;
    font-family: serif;
    font-size: 12px;
    line-height: 18px;
}

h1 {
    font-family: "Crickx";
}
h3.date {
    font-size: 100%;
    border-top: none;
}

h2 {
  margin-top: 2em;
  font-family: monospace;
}

h3 {
  margin-top: 1em;  
}

pre {
    margin-top: 2em;
    margin-top: 2em;
}
code {
    font-family: "Courier Code", monospace;
    font-size: 12px;
    line-height: 12px;
}

p {
    max-width: 42em;
}